<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/User/css/landing.css">
</head>

<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-sm navbar-dark p-4" style="background-color: #02083b;">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#" style="font-size: 20px;">Booking group</a>
            </li>
        </ul>
        <div class="navbar-nav ms-auto">
            <button id="Register"
                class="px-4 nav-button btn btn-dark border text-white border border-primary rounded-pill">Sign
                up</button>
        </div>
        <div class="navbar-nav">
            <button id="Login"
                class="px-4 nav-button btn btn-dark border text-white border border-primary rounded-pill">Login</button>
        </div>
    </nav>

    <!--img background-->
    <!-- Content -->
    <div class="content-container text-center" style="margin-top: 8rem;">
        <div class="left-content">
            <b>
                <h1 style="font-size: 50px ;">Meeting Room</h1>
            </b>
            <b><span style="font-size: 50px; color: rgb(31, 4, 166);">Booking</span></b><br>
            <p style="color: rgb(31, 4, 166); display: inline; font-size: 25px;">Hello to us from the Booking group,</p>
            <p style="display: inline; font-size: 25px;">the program is for meeting rooms in Mae Fah Luang with a
                flexible and
                easy-to-understand system. By using the developed system to create maximum benefits.</p><br>
            <button id="ButtonRoom"
                class="mt-5 btn btn-dark border text-white border border-primary rounded-pill mx-2 btn-lg"
                style="font-size: medium; height: 4rem;">Room Borrowing List</button>
            <button id="ButtonCheck"
                class="mt-5 btn btn-dark border text-white border border-primary rounded-pill mx-2 btn-lg"
                style="font-size: medium; height: 4rem;">Check Status</button>

        </div>
        <div class="right-content">
            <img src="/Staff/asset/meeting room 1.png" alt="Responsive Image" class="responsive-image">
        </div>
    </div>

    <!--content 2-->
    <div class="content-container" style="margin-top: 4rem; background-color: #000320;">
        <div class="left-content text-center">
            <img src="/Staff/asset/student-library-books-book 1.png" alt="Responsive Image"
                class="responsive-image">
        </div>
        <div class="right-content">
            <b>
                <h1 class="text-white" style="font-size: 50px ;">How To Booking</h1>
            </b><br>
            <!-- <b><span style="font-size: 50px; color: rgb(31, 4, 166);">Booking</span></b><br> -->
            <b>
                <h2 class="text-white mt-3">01 For User Using</h2>
            </b>
            <p class="text-white" style="font-size: 20px;">Eu scelerisque amet amet malesuada id ultrices morbi. Vitae
                purus mauris hac nisi habitasse donec. Vitae integer massa in blandit.</p>
            <b>
                <h2 class="text-white mt-5">01 For User Using</h2>
            </b>
            <p class="text-white" style="font-size: 20px;">Eu scelerisque amet amet malesuada id ultrices morbi. Vitae
                purus mauris hac nisi habitasse donec. Vitae integer massa in blandit.</p>
            <b>
                <h2 class="text-white mt-5">01 For User Using</h2>
            </b>
            <p class="text-white" style="font-size: 20px;">Eu scelerisque amet amet malesuada id ultrices morbi. Vitae
                purus mauris hac nisi habitasse donec. Vitae integer massa in blandit.</p>
        </div>
    </div>
    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3 text-white" style="background-color: #02083b;">
            © 2023 Copyright:
            <a class="text-white" href="https://www.google.com/">sunshine.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <script>
        document.querySelector('#ButtonRoom').onclick = function () {
            window.location.assign('login_admin.html')
        }
        document.querySelector('#ButtonCheck').onclick = function () {
            window.location.assign('login_admin.html')
        }
        document.querySelector('#Login').onclick = function () {
            window.location.assign('login_admin.html')
        }
        document.querySelector('#Register').onclick = function () {
            window.location.assign('login_admin.html')
        }
    </script>
</body>

</html>